footer {
    background-color:#ff914d;
    text-align: center;
    padding: 20px;

}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(211, 210, 210);
    
}
.outer{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 10px auto;
}
small{
    color: rgb(211, 210, 210);
}