body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(224, 224, 224);
}
.newsWrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  margin-bottom: 0px;
}

.flexItem {
  width: 45%;
  display: flex;
}

.newsItem {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
}

.newsItem > img {
  border-radius: 16px;
}

.newsHeader {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.newsItem > h4 > a {
  text-decoration: none;
  color: #ff914d;
}

.newsItem > h4 > a:hover {
  text-decoration: underline;
}

.newsLike {
  display: flex;
  color: #ff914d;
  font-size: 12px;
  align-items: baseline;
}

time {
  color: rgb(40, 87, 154);
  font-weight: bold;
  margin: 0 10px 0 0;
}
.author {
  margin-left: 5px;
}
@media screen and (max-width: 723px) {
  .flexItem {
    flex: 100%;
  }
  .newsItem {
    width: 100%;
  }
}
