{% extends "layout.html" %}
{% load static %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">


<header>
    <div id="kunye">
        <h2><b>Akdeniz Bilişim Dergisi Künye</b></h2>
    </div>
</header>

<section id="page">
    <div id="sol">
        <h4><b>Akdeniz Üniversitesi Adına Sahibi:</b></h4>
        <h5>Fırat YÜCEL</h5><br />

        <h4><b>Genel Yayın Yönetmeni:</b></h4>
        <p>...</p><br />

        <h4><b>Sorumlu Yazı İşleri Müdürü:</b></h4>
        <p>...</p><br />

        <h4><b>Editör:</b></h4>
        <p>...</p>
    </div>

    <div id="sag">
        <h4><b>Haber Sorumlusu:</b></h4>
        <p>...</p><br />

        <h4><b>Medya ve Tanıtım Sorumlusu:</b></h4>
        <p>...</p><br />

        <h4><b>Yazılım Ekibi:</b></h4>
        <h5>Fırat YÜCEL</h5><br />
        <h5>Fırat YÜCEL</h5><br />
        <h5>Fırat YÜCEL</h5><br />
        <h5>Fırat YÜCEL</h5><br />
        <h5>Fırat YÜCEL</h5><br />


    </div>
</section>

<div id="alt">
    <h4><b>İletişim</b></h4>
    <p>Akdeniz Üniversitesi Kampüs – 07059 ANTALYA<br>
        Telefon : 0242 310 60 36<br>
        Dahili : 6036<br>
        E-Posta: bilisimdergi@akdeniz.edu.tr</p><br /><br />


</div>

{% endblock body %}