{% extends "layout.html" %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static 'css/socialMedia.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/essay.css' %}">

<div class="container mb-5 ">
    <h3 style="color: #ff914d; margin: 50px 0; text-align: center ;">Makaleler</h3>
    <div class="row ">

        <div class="newsWrapper  col-md-9">
            {% if articles %}
            {% for article in articles %}
            <div class="flexItem">
                <div class="newsItem">
                    <img style="width: 100%" height="250px" src="{{article.article_image.url}}" alt="news">

                    <h4 style=" margin-top: 15px;"><a href="{% url 'article:detail' article.id %}">{{article.title}}</a>
                    </h4>
                    <div class="newsHeader">
                        <time>{{article.created_date}}</time>
                        <span class="newsLike">
                            <span style="font-size: 12px; ;" class="material-icons">
                                thumb_up
                            </span>
                            <p>{{ article.total_likes }}</p>

                        </span>
                        <p class="author">{{article.author.fullName}}</p>
                    </div>

                    <p>{{article.content|safe|truncatewords:20}}</p>
                    <a type="button" href="{% url 'article:detail' article.id %}" class="btn right">Devamı Oku</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% if messages %}

            {% for message in messages %}
            {% if message.tags == "info" %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>

            {% endif %}


            {% endfor %}

            {% endif %}
            {% endif %}

        </div>
        <div class="col-md-3 socialMedia">
            <h5 style="color: #ff914d;">Bizi Takip Et</h5>
            <div class="socialmediaButtons">
                <a href="">
                    <button class="twitter">
                        <i style="color: white;" class="fab fa-twitter"></i>
                        Twitter
                    </button>
                </a>
                <a href="">
                    <button class="instagram">
                        <i style="color: white;" class="fab fa-instagram"></i>
                        İnstagram
                    </button>
                </a>
            </div>
            <div class="essayRight">
                <h5>Kategoriler</h5>
                <form>
                    {% csrf_token %}
                    <ul class="categories">

                        <li>
                            <input type="submit" name="keyword_category" value="Yapay Zeka">

                        </li>
                        <li>
                            <input type="submit" name="keyword_category" value="Kripto Para">

                        </li>
                        <li>

                            <input type="submit" name="keyword_category" value="Yazılım">

                        </li>
                        <li>
                            <input type="submit" name="keyword_category" value="Donanım">
                        </li>

                    </ul>
                </form>
            </div>
        </div>



    </div>
</div>

{% endblock body %}